 /* body{
background-color: brown !important ;
} */

.curtis{
    color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.blow{
    background-color: blue;
    width: 40%;
    height: 820%;
    display:flex;
    justify-content: center;
    align-items: center;
     padding:8%; 
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    

}

